.Login {
  text-align: center;
}
.Login-logo {
  margin-top: 10%;
  height: 30vh;
  pointer-events: none;
}

.LoginForm {
  margin: 0 auto;
  width: 30vh;
}

.LoginForm2 .Item3 {
  margin-top: 10px;
  padding: 0;
  width: 183px;
  height: 46px;
  line-height: 44px;
  color: #783c00;
  background-image: url("./login.png");
  background-size: cover;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.GoogleLogin {
  width: 183px;
  height: 46px;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("./btn_google_normal.png");
  background-size: contain;
}

.GoogleLogin:hover {
  background-image: url("./btn_google_pressed.png");
}
.GoogleLogin:focus {
  background-image: url("./btn_google_focus.png");
}
