.ant-layout-sider-children {
  position: fixed;
  background-color: white;
}

/*포스트 부분 스크롤바 안보이게*/
.Scrollbar {
  overflow: hidden;
  flex-direction: row;
}

.ant-layout-content-children {
  flex-direction: row;
}
